{% extends 'userapp/admin/adminbase.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
            </div>
            <div class="panel-body">
                <figure >
                    <embed type="image/svg+xml" src="{% url 'app:catrank' result.id %}"/>
                </figure>
            </div>
        </div>
    </div>
</div>

{% endblock %}